
<div class="row">
    <div class="col-sm-4">

<h1>Create Category</h1>
        <form action="/admin/categories/create" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" placeholder="Enter Name">
        </div>
        <button type="submit" class="btn btn-primary">Create Category</button>
        </form>
    </div>
<br>
<hr>
    <div class="col-sm-8">
        <h1>Categories Page</h1>
        <table class="table">
            <thead>
                
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Actions</th>
                    
                </tr>
                <tbody>
                    {{#each categories}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{generateTime date 'MMMM Do YYYY'}}</td>
                        <td>
                            <a href="/admin/categories/edit/{{id}}" class="btn btn-primary btn-sm">Edit</span></a>
                            <form action="/admin/categories/delete/{{id}}?_method=DELETE" method="POST">
                              <button type="submit" class="btn btn-danger btn-sm">delete</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </thead>
        </table>
    </div>
</div>